body {
        margin: 0;
        background: white;
    }

    html, body {
        overflow-x: hidden;
        overflow-y: auto;
    }

    /* Overlay слој за анимација */
    #Animacija {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        pointer-events: none;
        z-index: 999999;
    }

    /*Снегулки */
    .snegulka {
        position: absolute;
        top: -10px;
        color: rgb(35, 200, 242);
        font-size: 12px;
        pointer-events: none;
        opacity: 0.9;
        animation: padni linear forwards;
    }

    @keyframes padni {
        to {
            transform: translateY(110vh) rotate(360deg);
            opacity: 0;
        }
    }

    /*Огномет честички */
    .cestica {
        position: absolute;
        width: 5px;
        height: 5px;
        border-radius: 50%;
        pointer-events: none;
        animation: eksplozija 1s ease-out forwards;
    }

    @keyframes eksplozija {
        0% { transform: scale(1); opacity: 1; }
        100% { transform: translate(var(--dx), var(--dy)) scale(0.2); opacity: 0; }
    }
