.celosno{
    width:450px;
    height: auto;
    padding: 10px 15px;
    font-size: 14px;
    background: rgb(106, 235, 241);
    box-shadow: none;
    align-items: center;
    border: 5px solid rgb(7, 58, 82);
    margin: 250px 480px;

}